.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.header-title {
  font-size: var(--font-size-big);
  color: var(--secondary-color);
  margin-left: 10px;
}

.material-icons.menu-icon {
  margin-right: 10px;
  font-size: var(--font-size-huge);
  color: var(--secondary-color);
}

.material-icons.menu-icon:focus {
  outline: none;
  border-radius: var(--border-round);
  box-shadow: var(--menu-focus-primary);
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-options {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 250px;
  background-color: white;
  margin: 0px;
  padding: 0px;
  right: 5px;
  list-style: none;
  font-size: var(--font-size-small);
  padding: 12px;
  border-radius: var(--border-round);
  box-shadow: 1px 1px 4px 1px black;
}


.menu-options.open {
  display: block;
  opacity: 1;
  animation-name: fadeInMenu;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid black;
}

.option.last {
  border-bottom: none;
}

.option-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 10px;
  color: black;
  text-decoration: none;
}

.option-link:focus {
  border-radius: var(--border-round);
  outline: none;
  box-shadow: var(--menu-focus-secondary);
}

.desktop {
  display: none;
}

.nav-menu.desktop {
  width: 100%;
  background-color: white;
  padding-top: 10px;
  height: 35px;
}

.desktop-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.desktop-option {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-link-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 0px 10px;
}

.option-link-desktop:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: var(--border-round);
}

.option-link-desktop:focus {
  border-radius: var(--border-round);
  outline: none;
  box-shadow: var(--menu-focus-secondary);
}

@media(min-width: 900px) {
  .header.desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}