.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}

.main-image {
  width: 100%;
}

.articles-section {
  width: 100%;
}

.articles {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 420px;
  border: var(--button-focus-border);
  border-radius: var(--border-round);
}

.article-card {
  width: 375px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  border: solid 3px black;
  border-radius: var(--border-round);
}

.article-photo {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.article-image {
  height: 400px;
}

.article-resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--font-size-little);
  width: 40%;
  padding: 0px 10px;
}

.article-text {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.text-presentation {
  padding: 0px 10px;
}

@media(min-width: 900px) {
  .main-body {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .articles-section {
    padding: 0px 20px;
  }

  .articles {
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
  }

  .article-card {
    margin-bottom: 10px;
  }
}